<h1>Razmer Gos</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @razmer_gos.each do |razmer_go| %>
      <tr>
        <td><%= razmer_go.id %></td>
        <td><%= link_to razmer_go.name, razmer_go_path(razmer_go) %></td>
        <td><%= razmer_go.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_razmer_go_path(razmer_go), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', razmer_go_path(razmer_go), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_razmer_go_path, :class => 'btn btn-primary' %>
