<h1>Rosts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @rosts.each do |rost| %>
      <tr>
        <td><%= rost.id %></td>
        <td><%= link_to rost.name, rost_path(rost) %></td>
        <td><%= rost.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_rost_path(rost), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', rost_path(rost), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('New'), new_rost_path, :class => 'btn btn-primary' %>
