<h1>Тип документа
  <%= @tip_doc.name %>
</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<%= render @tip_doc.docs %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to 'Back', tip_docs_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_tip_doc_path(@tip_doc), :class => 'btn' %>
  <%= link_to 'Delete', tip_doc_path(@tip_doc), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
