<h1>Расчет потребности по СИЗ: <%= @date_reg %></h1>
</br>

<%= form_tag requirements_index_path, :class => "form-horizontal" do %>
    <%= label_tag "На дату:" %>
    <%= text_field_tag "date_reg", I18n.l(Date.current) %>
    <%= submit_tag "Сформировать", :class => 'btn' %>
<% end %>

<p>
<% if @req_fields.size > 0  %>
    <table class="table table-striped table-bordered table-condensed">
     <thead>
      <tr>
        <th>Наименование СИЗ</th>
        <th>Размер одежды</th>
        <th>Рост</th>
        <th>Размер обуви</th>
        <th>Количество</th>
      </tr>
      </thead>
     <tbody>
     <% @req_fields.each do |item| %>
        <tr>
          <td><%= Siz.find(item["siz_id"]).name %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
     <% end %>
      </tbody>
    </table>
<% end %>
</p>


