<h1>Listing dolgnosts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Prior</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dolgnosts.each do |dolgnost| %>
  <tr>
    <td><%= dolgnost.name %></td>
    <td><%= dolgnost.prior %></td>
    <td><%= link_to 'Show', dolgnost %></td>
    <td><%= link_to 'Edit', edit_dolgnost_path(dolgnost) %></td>
    <td><%= link_to 'Destroy', dolgnost, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dolgnost', new_dolgnost_path %>
