<h1>Dolgnosts</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @dolgnosts.each do |dolgnost| %>
      <tr>
        <td><%= dolgnost.id %></td>
        <td><%= link_to dolgnost.name, dolgnost_path(dolgnost) %></td>
        <td><%= dolgnost.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_dolgnost_path(dolgnost), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', dolgnost_path(dolgnost), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_dolgnost_path, :class => 'btn btn-primary' %>
