<h1>/Dolgnost</h1>

<p>
  <b>Name</b><br>
  <%= @dolgnost.name %>
</p>

<p>
  <b>Prior</b><br>
  <%= @dolgnost.prior %>
</p>

<div class="form-actions">
  <%= link_to 'Back', dolgnosts_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_dolgnost_path(@dolgnost), :class => 'btn' %>
  <%= link_to 'Delete', dolgnost_path(@dolgnost), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
