
      <tr>
        <td><%= doc.id %></td>
        <td><%= doc.name %></td>
        <td><%= I18n.l(doc.created_at) %></td>
        <td>
          <%= link_to 'Редактировать', edit_doc_path(doc, :tip_docum => @tip_doc.id), :class => 'btn btn-mini' %>
          <%= link_to 'Удалить', doc_path(doc), :method => :delete, :confirm => 'Вы уверены?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
