<tr class="nested-fields blabla-fields">
      <td><%= f.input :id, :label =>false, :as => :string, :readonly => true, :wrapper => :small,:input_html => { :class => 'input-mini'}, %></td>
      <td><%= f.input :siz, :url => doc_autocomplete_siz_name_path, :as => :autocomplete %></td>
      <td><%= f.label :id, :id %></td>
      <td>размер 2</td>
      <td>Размер головы</td>
      <td>Размер обуви</td>
      <td>Рост</td>
      <td><%= f.input :kol, :wrapper => :small %></td>
      <td><%= link_to_remove_association 'Удалить строку', f, :class =>'btn btn-mini'  %></td>

</tr>
