<%= simple_form_for @doc do |fdoc| %>
 <fieldset>
   <legend><%= controller.action_name.capitalize %> / Docs</legend>

    <% if fdoc.error_notification %>
         <div class="alert alert-error fade in">
           <a class="close" data-dismiss="alert" href="#">&times;</a>
           <%= fdoc.error_notification %>
           <ul>
             <% @doc.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
           </ul>
          </div>
    <% end %>

   <div class="form-inputs">
     <%= fdoc.input :name %>
     <%= fdoc.input :utv %>
     <%= fdoc.association :sklad, :selected => 1 %>
     <% if @tip_docum != '1' %>
       <%= fdoc.association :rabotnik, :label_method => :rabotnik_fio_tn %>
     <% end  %>

     <%= fdoc.association :tip_doc, :selected => @tip_docum, :input_html => {:disabled => true}%>

      <table class="table table-striped table-bordered table-condensed">
       <thead>
        <tr>
          <th>Номер</th>
          <th>СИЗ</th>
          <th>ИН</th>
          <th>Ед</th>
          <th>Размер</th>
          <th>Рост</th>
          <th>Количество</th>
          <th>Действия</th>
        </tr>
        </thead>
       <tbody id="target">
        <%= fdoc.simple_fields_for :doc_tables do |table| %>
            <%= render 'doc_table_fields', {:f => table} %>
        <% end %>
        </tbody>
     </table>
     <div id="blabla">
       <%= link_to_add_association  'Добавить строку', fdoc, :doc_tables , :class => 'btn'%>
     </div>
   </div>


   <div class="form-actions">
   <%= fdoc.button :submit, :class => 'btn btn-primary' %>
    <%= link_to 'Отмена', docs_path, :class => 'btn' %>
  </div>

 </fieldset>

<% end %>