<p id="notice"><%= notice %></p>

<p>
  <b>Siz:</b>
  <%= @pologeno.siz %>
</p>

<p>
  <b>Nagod:</b>
  <%= @pologeno.nagod %>
</p>


<%= link_to 'Edit', edit_pologeno_path(@pologeno) %> |
<%= link_to 'Back', pologenos_path %>
