<h1>Postavshiks</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @postavshiks.each do |postavshik| %>
      <tr>
        <td><%= postavshik.id %></td>
        <td><%= link_to postavshik.name, postavshik_path(postavshik) %></td>
        <td><%= postavshik.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_postavshik_path(postavshik), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', postavshik_path(postavshik), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_postavshik_path, :class => 'btn btn-primary' %>
