<%= simple_form_for @siz, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Siz</legend>


    <%= f.input :name %>
    <%= f.input :sert %>
    <%= f.association :tip_so %>
    <%= f.association :vid_so %>

    <div class="form-actions">
        <%= f.button :submit, :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', sizs_path, :class => 'btn' %>
    </div>
  </fieldset>

<% end %>
