<h1>Listing sizs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Tip so</th>
    <th>Vid so</th>
    <th>Sert</th>
    <th>Nom</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sizs.each do |siz| %>
  <tr>
    <td><%= siz.name %></td>
    <td><%= siz.tip_so %></td>
    <td><%= siz.vid_so %></td>
    <td><%= siz.sert %></td>
    <td><%= siz.nom %></td>
    <td><%= link_to 'Show', siz %></td>
    <td><%= link_to 'Edit', edit_siz_path(siz) %></td>
    <td><%= link_to 'Destroy', siz, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Siz', new_siz_path %>
