<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @siz.name %>
</p>

<p>
  <b>Tip so:</b>
  <%= @siz.tip_so %>
</p>

<p>
  <b>Vid so:</b>
  <%= @siz.vid_so %>
</p>

<p>
  <b>Sert:</b>
  <%= @siz.sert %>
</p>

<p>
  <b>Nom:</b>
  <%= @siz.nom %>
</p>


<%= link_to 'Edit', edit_siz_path(@siz) %> |
<%= link_to 'Back', sizs_path %>
