<%= simple_form_for @rabotnik, :html => { :class => 'form-horizontal' } do |f| %>

    <legend><%= controller.action_name.capitalize %> Редактирование работника</legend>


    <% if f.error_notification %>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= f.error_notification %>
    </div>
    <% end %>
      <%= f.input :tn %>
      <%= f.input :imy %>
      <%= f.input :otch %>
      <%= f.input :fam %>
      <%= f.association :dolgnost %>
      <%= f.association :otdel %>
        <%= f.input :razmer %>
        <%= f.input :razmer_o %>
        <%= f.input :razmer_g %>
        <%= f.input :rost, :hint => 'Рост работника.'%>
      <%= f.button :submit, :class => 'btn-primary' %>
      <%= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger" %>

    <% end %>