<%= form_for @rabotnik, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Rabotnik</legend>

    <div class="control-group">
      <%= f.label :imy, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :imy, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :otch, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :otch, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :fam, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :fam, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :otdel_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :otdel_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :dolgnost_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :dolgnost_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', rabotniks_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
