<h1>Razmer Ods</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @razmer_ods.each do |razmer_od| %>
      <tr>
        <td><%= razmer_od.id %></td>
        <td><%= link_to razmer_od.name, razmer_od_path(razmer_od) %></td>
        <td><%= razmer_od.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_razmer_od_path(razmer_od), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', razmer_od_path(razmer_od), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_razmer_od_path, :class => 'btn btn-primary' %>
